# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# VS Code
.vscode/

# SEC raw data
data/raw/

# Generated processed data
data/processed/*.csv
data/processed/*.png

# Power BI
*.pbit

# OS
Thumbs.db
.DS_Store